<!DOCTYPE HTML>
<html>

<body>
    

   <%= @question %>
    
    <%= form_with url: "question_check" do |form| %>

    <% @answers.each do |a| %>

<%= a.answer %>

<% end %>
    
      <%= form.submit %>
      <% end %>

</body>

</html>