body{
  background-repeat: no-repeat;
  background-size: 100%;
}

.score{
  background-color: #eddcf7;
}

#main{
  background-color: #dbe8ff;
  text-align: center;
  padding: 10px;
}

#quiz{
  text-align: center;
  background-color: #dbe8ff;
  padding: 20px;
  width: 80%;
}

#questions{
  font-size: 20pt;
}

#answers{
  text-align: left;
  padding: 30px;
  font-size: 15pt;
}

#error{
  color: red;
  font-size: 14pt;
}

#question_count{
  text-align: center;
  font-size: 14pt;
}

#submit_button{
  padding: 20pt;
}

#results{
  text-align: center;
  background-color: beige;
}
