#main{
  background-color: #ccdfff;
  text-align: center;
  padding: 10px;
}

#quiz{
  text-align: center;
  background-color: lightblue;
}

#questions{
  font-size: 20pt;
}

#answers{
  text-align: left;
}

#error{
  color: red;
  font-size: 14pt;
}
